<div class="main">
  <div class="left">
    <img src="{{images.wheel}}">
  </div>
  <div class="right">
    <div class="icon-text">
      <h1 class="mat-display-1">
        <img src="{{images.fuel}}">{{packet.fuel}}
      </h1>
    </div>
    <div class="icon-text">
      <h1 class="mat-display-1">
        <img src="{{images.weather}}">{{packet.weather}}
      </h1>
    </div>
    <div class="icon-text">
      <h1 class="mat-display-1">
        <img src="{{images.noise}}">{{packet.noise}} DB
      </h1>
    </div>
  </div>
</div>
