@import '_global'

:host
  .mat-card
    height: $global-height-full
    width: $global-width-full
    background: $global-color-gray-contrast
    padding: 0
    border-radius: 30px
    overflow: hidden
    vertical-align: bottom
    $header-height: 20%
    $main-height: 60%

    .mat-card-header
      background: $global-color-blue-contrast
      height: $header-height
      width: $global-width-full
      display: table
      color: $global-color-white

      ::ng-deep .mat-card-header-text
        margin: 0!important
        display: none!important

      .vertical-align
        width: $global-width-full
        display: table-cell
        vertical-align: middle

        h1
          text-align: center
          margin: 0!important

    .mat-card-content
      height: $main-height
      margin-bottom: 0
      color: $global-color-blue-text
      white-space: pre
      h1
        margin: 0!important
        margin-top: 2%!important
        height: 18%
        text-align: center

    .mat-card-footer
      height: $header-height

      .mat-divider
        border-top: 3px solid $global-color-blue-contrast

      h1
        text-align: center
        margin: 0!important
        color: $global-color-blue-text

      h1:nth-child(3)
        width: 80%
        margin: auto
        text-align: right

  .align-button
    position: relative
    top: -7%
    width: 100%
    display: flex
    justify-content: center

    button
      background: $global-color-white
      $eqlwh: calc(33.33%)
      border: 4px solid $global-color-blue-contrast

  .parentSelected
    button
      border: 4px solid $global-color-green!important

      .check
        color: $global-color-green
    ::ng-deep
      .mat-button-wrapper
        padding: 0
