:host
  height: 100%
  display: block
  width: 100%

.header
  background: #023899
  color: white
  width: 100%
  height: 15%
  display: block
  align-content: center
  text-align: center

  h2
    width: 50%
    margin: auto

    h1
      width: 50%
      margin: auto

.main
  color: black
  display: block
  align-content: center
  width: 100%
  height: 65%

  .description
    color: #023899
    width: 50%
    height: 10%
    text-align: center
    margin: auto
    white-space: pre

.footer
  width: 100%
  height: 20%
  display: inline-flex
  align-content: center
  h1
    margin: auto
    font-size: 100px
    font-weight: bold
