<div [ngClass]="{'parent':true,'parentSelected':isSelected}">
  <div class="header">
    <h2>WKR-Paket</h2>
    <h1>{{packet.name}}</h1>
  </div>

  <div class="main">
    <h3 class="description">
      {{packet.description}}
    </h3>
    <alg-images [packet]="packet"></alg-images>
  </div>

  <mat-divider></mat-divider>

  <div class="footer">
    <h1>{{packet.price}} €</h1>
    <h4>Stückpreis</h4>
  </div>

  <div class="extra-footer"></div>
</div>
<div [ngClass]="{'circle':true,'circleSelected':isSelected}">
  <span *ngIf="isSelected" [ngClass]="{'check':isSelected}">&#10003;</span>
</div>
