:host
  height: 7%
  width: 100%
  display: flex
  background: #023899

  .center
    align-self: center
    width: 70%
    margin: auto
    height: 100%
    display: grid
    grid-template-columns: 33.33% 66.66%
    grid-template-rows: 100%

  .dimension-header-col1
    grid-row: 1
    grid-column: 1
    color: white
    h2
      margin: 0

  .dimension-header-col2
    height: 80%
    border-radius: 1px
    margin-top: auto
    margin-bottom: auto
    grid-row: 1
    grid-column-start: 2
    grid-column-end: 3
    background: white
