:host
  height: 10%
  width: 80%
  margin: auto
  margin-top: 4%
  display: block
  div
    width: 100%
    height: 60%
    display: flex
    justify-content: center

    button
      width: 48%
      height: 100%
      margin: auto

    button:nth-child(1)
      background: #023899
      color: white
      margin-left: 0

    button:nth-child(2)
      background: #54B179
      color: white
      font-weight: bold
      margin-right: 0
