:host
  height: 100%
  width: 100%
  margin: 0
  display: block





.buttons
  margin: auto
  margin-top: 4%
  width: 80%
  height: 6%
  display: flex
  justify-content: center

  button
    width: 48%
    height: 100%
    margin: auto

  button:nth-child(1)
    background: #023899
    color: white
    margin-left: 0

  button:nth-child(2)
    background: #54B179
    color: white
    font-weight: bold
    margin-right: 0
