@import '_global'
:host
  height: 65%
  width: $global-side-wrapper-width
  display: block
  margin: auto
  margin-top: 2%

  .title
    width: $global-width-full
    margin: auto
    color: $global-color-blue-text
    h1
      margin: 0!important

  .main
    display: grid
    width: $global-width-full
    height: 90%
    margin: auto
    grid-template-rows: $global-height-full
    grid-template-columns: $global-three-equal-columns

  .pack:hover
    opacity: 1
    border: 4px solid $global-color-blue-contrast
    border-radius: 34px

  .selectedPack
    opacity: 1!important
    border: 4px solid $global-color-blue-contrast
    border-radius: 34px

  .pack
    opacity: 0.3
    height: $global-height-full
    width: 80%
    margin: auto
    object-fit: contain
    margin-bottom: 0

    ::ng-deep
      .mat-card-header, .mat-card-footer
        @include HD($global-height-5em)
        @include Wide(calc(#{$global-height-5em * 1.4}))
        @include FullHD($global-height-5em * 1.5)

      .mat-card-content
        @include HD(calc(100% - 2% - #{$global-height-5em} * 2))
        @include Wide(calc(100% - #{$global-height-5em * 1.4} * 2 ))
        @include FullHD(calc(100% - 2% - #{$global-height-5em * 1.5} * 2))

        h1
          height: $global-height-5em

  $elements: 3
  @for $i from 1 to $elements + 1
    .pack:nth-child(#{$i})
      height: calc(100% - (#{3-$i} * 10%))!important
      vertical-align: bottom

      ::ng-deep
        .images
          @include HD($global-height-5em * 2.2)
          @include Wide($global-height-5em * 2.2 * 1.1)
          @include FullHD($global-height-5em * 2.2 * 1.3)
          margin-bottom: calc( ( #{$i - 1} * 10% ) / 2)
          margin-top: calc( ( #{$i - 1} * 10% ) / 2)

  .pack:nth-child(1)
    margin-left: 0

  .pack:nth-child(3)
    margin-right: 0
