@import '_global'
:host
  width: $global-side-wrapper-width
  height: 60%
  display: block
  margin: auto
  margin-top: 2%

  .title
    width: $global-width-full
    margin: auto
    h1
      color: $global-color-blue-text
      font-size: 50px
      font-weight: bold

  .main
    display: grid
    width: $global-width-full
    height: 90%
    margin: auto
    grid-template-rows: $global-height-full
    grid-template-columns: $global-three-equal-columns

  .pack:hover
    opacity: 1

  .selectedPack
    opacity: 1!important

  .pack
    opacity: 0.3
    height: $global-height-full
    width: 80%
    margin: auto
    object-fit: contain
    margin-bottom: 0

  .pack:nth-child(1)
    height: 80%
    vertical-align: bottom
    margin-left: 0

  .pack:nth-child(2)
    height: 90%
    vertical-align: bottom

  .pack:nth-child(3)
    margin-right: 0
