:host
  background: #F6F6F6
  height: 10%
  width: 100%
  display: block

  .mid
    width: 80%
    margin: auto
    height: 100%
    display: grid
    grid-template-columns: 33.33% 33.33% 33.33%
    grid-template-rows: 100%

.left-image
  height: 100%
  grid-column: 1
  display: flex
  justify-content: center

  img
    object-fit: contain
    max-height: 100%

.mid-text
  grid-column: 2

.right-text
  grid-column: 3
