@import '_global'

:host
  background: $global-color-gray-contrast
  height: 10%
  width: inherit
  display: inherit

  .mid
    width: $global-side-wrapper-width
    margin: auto
    height: $global-height-full
    display: grid
    grid-template-columns: $global-three-equal-columns
    grid-template-rows: $global-height-full

.left-image
  height: $global-height-full
  grid-column: 1
  display: flex
  justify-content: center

  img
    object-fit: contain
    max-height: $global-height-full

.mid-text
  grid-column: 2

.right-text
  grid-column: 3
